$red: #f60d4d; // for red btn
$green: #9fa255; // primary green
$green-light: #d1d39a; // become lighter when hover
$darkgreen: #218838;
$lightgrey: #3c3c3c; //for dropdown menu item hover
$black: #333;
$orange: #fa8231;
$greenBtn: #7aaa39;
$redBtn: #df5c4e;

$oldItemBorder: red;
$newItemBorder: $darkgreen;

* {
  font-family: "Playfair Display", serif;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a:not(.linkContainer a) {
  color: unset;
  text-decoration: none;
}

a:hover:not(.linkContainer a) {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.greenText {
  color: #218838;
}

.redText {
  color: red;
}

.orangeText {
  color: orange;
}

.bold {
  font-weight: bold;
}

.white-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  max-width: 1200px;
  display: block;

  .panel-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: $black;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom-color: rgb(221, 221, 221);
    padding: 10px 15px;
    border-bottom: 1px solid lightgray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .panel-content {
    padding: 15px 10px;
  }

  .panel-footer {
    background-color: #f6f8fa;
  }
}
